{% extends "votacao/index.html" %}

{% block titulo %}
Create Question
{% endblock %}


{% block banner %}
{% endblock %}

{% block navegacao %}

<a href= "{% url 'votacao:index'%}">
  {% load static %}
    <img src="{% static 'votacao/images/home.jpg' %}"
             alt="image not found"
             title="Homepage" width ="100" height = "100">
</a>
{% endblock %}


{% block conteudo %}

<form action="{% url 'votacao:criarquestao'%}"
      method="post">

    {% csrf_token %}
    <p>
    <label for="questao_texto">Texto da nova Questão:</label>
    <input type="text" id="questao_texto" name="questao_texto"><br><br>
    </p>
    <br>
    <input type="submit" value="Gravar nova Questão" />

</form>


</form>
{% endblock %}


{% block opcoes_e_controlos %}
<p>
  <input type=button value="Voltar" onClick="javascript:history.go(-1);">
</p>

{% endblock %}
