<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        label {
            font-size: 120%;
        }
    </style>
</head>
<body>

<h1>{{ questao.questao_texto }}</h1>
{% if error_message %}
<p><strong>{{ error_message}}</strong></p>
{% endif %}
<form action="{% url 'votacao:criaropcao' questao.id %}" method="post">
    {% csrf_token %}
    <label for="opcao_texto">Texto da nova Opção:</label>
    <input type="text" name="opcao_texto"/><br/><br/>
    <input type="submit" value="Gravar nova Opção">
</form>
<input type=button value="Voltar" onClick="javascript:history.go(-1);">

</body>
</html>