{% extends "votacao/index.html" %}

{% block titulo %}
Create Question
{% endblock %}


{% block banner %}
{% endblock %}


{% block navegacao %}
     <a href="{% url 'votacao:index' %}">Home</a>
{% endblock %}


{% block conteudo %}

<form action="{% url 'votacao:criarquestao'%}"
      method="post">

    {% csrf_token %}
    <p>
    <label for="questao_texto">Texto da nova Questão:</label>
    <input type="text" id="questao_texto" name="questao_texto"><br><br>
    </p>
    <br>
    <input type="submit" value="Gravar nova Questão" />

</form>


</form>
{% endblock %}


{% block opcoes_e_controlos %}

{% endblock %}
