{% extends "votacao/index.html" %}

{% block titulo %}
Detalhe questão {{questao.id}}
{% endblock %}


{% block banner %}
{% endblock %}

{% block navegacao %}
<a href="{% url 'votacao:index' %}">Home</a>
{% endblock %}


{% block conteudo %}
<h1>{{ questao.questao_texto }}</h1>
{% if error_message %}
<p><strong>{{ error_message }}</strong></p>
{% endif %}


<form action="{% url 'votacao:voto' questao.id %}" method="post">
    {% csrf_token %}
    {% for opcao in questao.opcao_set.all %}
        <p style="text-align: left">
             <input type="radio" name="opcao" id="opcao{{ forloop.counter }}" value="{{ opcao.id }}" />
            <label for="opcao{{ forloop.counter }}">{{ opcao.opcao_texto }}</label>
        </p>
        <br>
    {% endfor %}


    {% if not user.is_superuser %}
        <input type="submit" value="Voto" />
    {% endif %}
</form>
{% endblock %}

<br>
{% block opcoes_e_controlos %}
{% if user.is_superuser %}

        <a class="a_button" href="{% url 'votacao:criaropcao' questao.id %}">
            Criar Opção!
        </a>
<br>
        <a class="a_button" href="{% url 'votacao:eliminaropcao' questao.id %}">
            Apagar Opção!
        </a>

{% endif %}

{% endblock %}
