{% extends "votacao/index.html" %}

{% block titulo %}
Delete Question
{% endblock %}


{% block banner %}
{% endblock %}

{% block navegacao %}
     <a href="{% url 'votacao:index' %}">Home</a>
{% endblock %}


{% block conteudo %}

 <form action="{% url 'votacao:eliminarquestao' %}" method="post">
    {% csrf_token %}
    <select name="questao_id" id="questao_id">
        {% for questao in questoes %}
        <option value="{{ questao.id }}">{{ questao.questao_texto }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="APAGAR questão">
</form>
{% endblock %}


{% block opcoes_e_controlos %}

{% endblock %}
