{% extends "votacao/index.html" %}

{% block titulo %}
Delete Option
{% endblock %}


{% block banner %}
{% endblock %}


{% block navegacao %}
     <a href="{% url 'votacao:index' %}">Home</a>
{% endblock %}


{% block conteudo %}

<h1>{{ questao.questao_texto }}</h1>
  {% if error_message %}
  <p><strong>{{ error_message}}</strong></p>
  {% endif %}
 <form action="{% url 'votacao:eliminaropcao' questao.id %}" method="post">
    {% csrf_token %}
    <select name="opcao_id" id="opcao_id">
        {% for opcao in questao.opcao_set.all %}
        <option value="{{ opcao.id }}">{{ opcao.opcao_texto }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="APAGAR Opção">
</form>


</form>
{% endblock %}


{% block opcoes_e_controlos %}


{% endblock %}
