{% extends "votacao/index.html" %}

{% block titulo %}
Upload Image
{% endblock %}


{% block banner %}
{% endblock %}


{% block navegacao %}
     <a href="{% url 'votacao:index' %}">Home</a>
{% endblock %}


{% block conteudo %}

<div class="container">
{% if uploaded_file_url %}
    <p>  Feito o upload com sucesso!! </p>
{% else %}
    <p>No profile picture uploaded.</p>
{% endif %}

</div>


{% load static %}
<form method="post" enctype="multipart/form-data"
      action="{% url 'votacao:fazer_upload' %}">
 {% csrf_token %}
 <input type="file" name="myfile">
 <input type="submit" value="Upload">
</form>

{% endblock %}


{% block opcoes_e_controlos %}

{% endblock %}
