{% extends "votacao/index.html" %}

{% block titulo %}
Upload Image
{% endblock %}


{% block banner %}
{% endblock %}


{% block navegacao %}
     <a href="{% url 'votacao:index' %}">Home</a>
{% endblock %}


{% block conteudo %}

{% if user.userprofile.profile_picture %}
    <img src="{{ user.userprofile.profile_picture.url }}" alt="{{ user.username }}'s profile picture">
{% else %}
    <p>No profile picture uploaded.</p>
{% endif %}

{% load static %}
<form method="post" enctype="multipart/form-data"
      action="{% url 'votacao:fazer_upload' %}">
 {% csrf_token %}
 <input type="file" name="myfile">
 <input type="submit" value="Upload">
</form>

{% if uploaded_file_url %}
<p>Feito o upload com sucesso!!
 <img src="{{ uploaded_file_url }}"
    height="100" width="100">
</p>
{% endif %}



{% endblock %}


{% block opcoes_e_controlos %}

{% endblock %}
