<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'votacao/css/styles.css' %}">

    <title>{% block titulo %} Index {% endblock %} </title>
</head>

<header>

    <a href="https://www.iscte-iul.pt/">
        {% load static %}
        <img class="logo" src="{% static 'votacao/images/iscte.gif' %}" alt="image not found" title="https://www.iscte-iul.pt/">
    </a>

    <div class="foto">

        {% with aluno.avatar|truncatewords:7 as data %}
        {% if  data == "default" %}

        {% load static %}
        <img src="{% static 'votacao/images/default_avatar.jpg' %}">

        {% elif request.path == "/votacao/" or request.path == "/votacao/registo/"%}

        {% load static %}
        <img src="{% static 'votacao/images/default_avatar.jpg' %}">

        {% elif request.user.is_superuser %}

        {% load static %}
        <img src="{% static 'votacao/images/default_avatar.jpg' %}">

        {% else %}

        <img src="{{aluno.avatar}}"
             alt = "{{aluno.avatar}}"
             height="100" width="100">

        {% endif %}
        {% endwith %}


    </div>

    <div>
        {% if request.user.is_authenticated %}

        <h1>Bom dia {{request.user.username}}
            {% if not request.user.is_superuser %}
            já fez {{resultado}} votos. Os votos são limitados!


            {% endif %}
        </h1>
    </div>
    {% else %}
    <h1>
        O utilizador não está logado
    </h1>
    {% endif %}
    {% block banner %}
    {% endblock %}



</header>

<body>
<nav>

    <div>
        {% block navegacao %}
        {% endblock %}

        {% if request.path != "/votacao/" and request.path != "/votacao/registo/" %}
        <a href="{% url 'votacao:paginapessoal' %}"> Página Pessoal</a>

        <a style="float:right; background-color:cadetblue" href="{% url 'votacao:logout' %}"> Logout</a>
        {% endif %}

        {% if request.path != "/votacao/main/" %}
        <p>
            <input type=button value="Voltar" onClick="javascript:history.go(-1);">
        </p>
        {% endif %}
    </div>

</nav>


<aside>

</aside>

{% block conteudo %}
<section>

    <h1> Questões já criadas </h1>
    {% if latest_question_list %}
    <ul>
        {% for questao in latest_question_list %}
        <li>
            <a href="{% url 'votacao:detalhe' questao.id %}">
                {{ questao.questao_texto }}
            </a>
        </li>
        {% endfor %}
    </ul>

    {% else %}
    <p>Nao há questoes disponiveis.</p>
    {% endif %}


</section>
{% endblock %}

{% block opcoes_e_controlos %}

{% if user.is_superuser %}

<div>
    <h3><a class="a_button" href="{% url 'votacao:criarquestao' %}">Criar Questão</a></h3>
    <h3><a class="a_button" href="{% url 'votacao:eliminarquestao' %}">Eliminar Questão</a></h3>

</div>
{% endif %}

{% endblock %}
</body>

<footer>

</footer>

</html>