<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'votacao/css/styles.css' %}">
    <title>Index</title>
</head>


<body>
<header>
    <a href="https://www.iscte-iul.pt/">
        {% load static %}
        <img class="logo" src="{% static 'votacao/images/iscte.gif' %}" alt="image not found" title="https://www.iscte-iul.pt/">
    </a>
    {% if request.user.is_authenticated %}
    <div>
        <h1>Bom dia {{request.user.username}}
            {% if not request.user.is_superuser %}
            já fez {{resultado}} votos. Os votos são limitados!
            {% endif %}
        </h1>
    </div>
    {% else %}
    <h1>
        O utilizador não está logado
    </h1>
    {% endif %}
</header>
<nav>
    <a href="index.html">Home</a>
<!--    {% if not user.is_superuser %}-->
    <a href='personal/'> peçoal</a>
<!--    {% endif %}-->
    <a href="{% url 'votacao:logout' %}"> logout</a>
</nav>

<aside>

</aside>

<section>
    <h1> Questões já criadas </h1>
    {% if latest_question_list %}
    <ul>
        {% for questao in latest_question_list %}
        <li>
            <a href="{% url 'votacao:detalhe' questao.id %}">
                {{ questao.questao_texto }}
            </a>
        </li>
        {% endfor %}
    </ul>

    {% else %}
    <p>Nao há questoes disponiveis.</p>
    {% endif %}
    {% if user.is_superuser %}
</section>

<div>
    <h3><a href="{% url 'votacao:criarquestao' %}">Criar Questão</a><br></h3>
    <h3><a href="{% url 'votacao:eliminarquestao' %}">Eliminar Questão</a></h3>

</div>
{% endif %}
</body>
</html>