<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'votacao/css/styles.css' %}">
    <script src="{% static 'votacao/scripts/JavaScript.js' %}"></script>

    <title>{% block titulo %} Index {% endblock %} </title>

 </head>

<header>
    <a href="https://www.iscte-iul.pt/">{% load static %}
        <img class="logo" src="{% static 'votacao/images/iscte.gif' %}" alt="image not found"
             title="https://www.iscte-iul.pt/">
    </a>


    <div class="container">
        {% if user.is_authenticated %}
        <h1>Bom dia
            <span id="username" onclick="showProfilePic()">{{request.user.username}}</span>,

            {% if not request.user.is_superuser %}
            {% if resultado == 1 %}
            já fez {{resultado}} voto. Os votos são limitados!
            {% elif resultado == 0 %}
            ainda não fez nenhum voto. Os votos são limitados!
            {% else %}
            já fez {{resultado}} votos. Os votos são limitados!
            {% endif %}
            {% endif %}
        </h1>
        {% if not request.user.is_superuser %}
        {% with aluno.avatar|truncatewords:7 as data %}
        {% if data == "default" or request.path == "/votacao/" or request.path == "/votacao/registo/"%}
        {% load static %}
        <img src="{% static 'votacao/images/default_avatar.jpg' %}">
        {% else %}

        <img id="aluno.avatar" src="{{aluno.avatar}}" alt="{{aluno.avatar}}" height="100" width="100"
             style="visibility: visible;" ondblclick="hideProfilePic()">

        {% endif %}
        {% endwith %}
        {% endif %}
    </div>


    {% else %}
    <div>
        <h1>
            O utilizador não está logado
        </h1>
    </div>
    {% endif %}

    {% block banner %}
    {% endblock %}
</header>
<body>
<nav>
    <div>
        {% block navegacao %}
        {% endblock %}
        {% if request.path != "/votacao/" and request.path != "/votacao/registo/" %}
        <a href="{% url 'votacao:paginapessoal' %}"> Página Pessoal</a>
        <a href="{% url 'votacao:index' %}">Questões</a>
        <a style="float:right; background-color:cadetblue" href="{% url 'votacao:logout' %}"> Logout</a>
        {% endif %}

        {% if request.path != "/votacao/main/" and request.path != "/votacao/" %}
        <p>
            <input type=button value="Voltar" onClick="javascript:history.go(-1);">
        </p>
        {% endif %}
    </div>
</nav>


{% block conteudo %}
<section>
    <h1> Questões já criadas </h1>
    <button id="toggleButton" onclick="toogleQuestions()">Mostrar lista de Questões</button>
    <div id="questoes" style="visibility: hidden">
        {% if latest_question_list %}
        <ul>
            {% for questao in latest_question_list %}
            <p>
            <li>
                <a href="{% url 'votacao:detalhe' questao.id %}">{{ questao.questao_texto }}</a>
            </li>
            </p>
            {% endfor %}
        </ul>
        {% else %}
        <p>Nao há questoes disponiveis.</p>
        {% endif %}
    </div>

</section>
{% endblock %}

{% block opcoes_e_controlos %}

{% if user.is_superuser %}

<div>
    <h3><a class="a_button" href="{% url 'votacao:criarquestao' %}">Criar Questão</a></h3>
    <h3><a class="a_button" href="{% url 'votacao:eliminarquestao' %}">Eliminar Questão</a></h3>

</div>

{% endif %}

{% endblock %}
</body>

<footer>

</footer>

</html>