{% extends "votacao/index.html" %}

{% block titulo %}
Login
{% endblock %}

{% block banner %}

{% endblock %}

{% block conteudo %}

<div>
<form action="{% url 'votacao:autenticar' %}" method="post">

    {% csrf_token %}
    {% if error_message %}
    <p class="erro">{{ error_message }}</p>
    {% endif %}
    <div class="container">
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" id="username" name="username" required>
        <br/>
        <br/>
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" id="password" name="password" required>
        <br/>
        <br/>
        <button type="submit">Login</button>
    </div>
    <br/>
</form>
</div>

<div>
<form action="{% url 'votacao:registo' %}" >
        {% csrf_token %}
    <input type="submit" value="Registar">
</form>
</div>

{% endblock %}


{% block opcoes_e_controlos %}

{% endblock %}
