{% extends "votacao/index.html" %}

{% block titulo %}
Personal page
{% endblock %}


{% block banner %}


{% endblock %}

{% block navegacao %}
     <a href="{% url 'votacao:index' %}">Home</a>
{% endblock %}


{% block conteudo %}

<h1> Dados Pessoais </h1>

<ul>
    <li>
        Username: {{ user.username }}
    </li>
    <li>
        Email: {{ user.email }}
    </li>

    <li>
        Data de registo: {{ user.date_joined }}
    </li>


</ul>

<h1> Dados Aluno </h1>

<ul>
    <li>
        Curso: {{ aluno.curso }}
    </li>
</ul>

<h3><a href="{% url 'votacao:fazer_upload' %}">Upload</a><br></h3>

{% endblock %}


{% block opcoes_e_controlos %}

{% endblock %}
