{% extends "votacao/index.html" %}

{% block titulo %}
Personal page
{% endblock %}


{% block banner %}

{% if request.user.is_authenticated %}
<h1><p>O {{request.user.username}} está logado</h1></p>


{% with aluno.avatar|truncatewords:7 as data %}
{% if  data == "default" %}

{% load static %}
<img src="{% static 'votacao/images/default_avatar.jpg' %}">

{% else %}
<img src="{{aluno.avatar}}"
     alt = "{{aluno.avatar}}"
        height="100" width="100">
{% endif %}
{% endwith %}

{% else %}
<p>O utilizador não está logado</p>

{% endif %}

{% endblock %}

{% block navegacao %}

<a href="{% url 'votacao:index'%}">
    {% load static %}
    <img src="{% static 'votacao/images/home.jpg' %}"
         alt="image not found"
         title="Homepage" width="100" height="100">
</a>


{% endblock %}


{% block conteudo %}

<h1> Dados Pessoais </h1>

<ul>
    <li>
        Username: {{ user.username }}
    </li>
    <li>
        Email: {{ user.email }}
    </li>

    <li>
        Data de registo: {{ user.date_joined }}
    </li>


</ul>

<h1> Dados Aluno </h1>

<ul>
    <li>
        Curso: {{ aluno.curso }}
    </li>
</ul>

<h3><a href="{% url 'votacao:fazer_upload' %}">Upload</a><br></h3>

{% endblock %}


{% block opcoes_e_controlos %}
<p>
    <input type=button value="Voltar" onClick="javascript:history.go(-1);">
</p>

{% endblock %}
