{% extends "votacao/index.html" %}

{% block titulo %}
Create user
{% endblock %}

{% block banner %}
{% endblock %}

{% block navegacao %}
{% endblock %}


{% block conteudo %}


<h1> CREATE USER </h1>

<form action="{% url 'votacao:registo' %}" method="post">
    {% csrf_token %}
    <p>
        <label for="user">Nome:</label>
        <input type="text" id="user" name="user">
    </p>
    <p>
        <label for="mail">E-mail:</label>
        <input type="text" id="mail" name="mail">
    </p>
    <p>
        <label for="pass">Password:</label>
        <input type="password" id="pass" name="pass">
    </p>
    <p>
        <label for="curso">Curso:</label>
        <select id="curso" name="curso">
            <option value="antropologia">Antropologia</option>
            <option value="arquitetura">Arquitetura</option>
            <option value="ciencia-dados">Ciência de Dados</option>
            <option value="ciencia-politica">Ciência Política</option>
            <option value="eng-informatica">Engenharia Informática</option>
        </select>
    </p>
    <p>
        <label style="vertical-align: top" for="comentario">Comentário:</label>
        <textarea style="resize: none" id="comentario" name="comentario"></textarea>
        <button type="button" onclick="validateComment()">Validar comentário</button>
        <span id="comment-validation-status"></span>
    </p>
    <p>
        <button style="transform: translate(+50%)" type="submit" id="registo-submit" disabled> Registar</button>
    </p>
</form>

<script>
    let bannedWords = [];

    // Fetch banned words from file
    fetch('banned-words.txt')
        .then(response => response.text())
        .then(data => bannedWords = data.split('\n'))
        .catch(error => console.error(error));


    let commentValidated = false;

    function validateComment() {
        const comment = document.getElementById("comentario").value;
        const validationStatus = document.getElementById("comment-validation-status");
        //LISTA DE PALAVRAS BANIDAS
        const bannedWords = ["abécula", "abecula", "abentesma", "achavascado", "alimária", "alimaria",
            "andrajoso", "barregã", "barrega", "biltre", "cacóstomo", "cacostomo", "cuarra", "estólido", "estolido",
            "estroso", "estultilóquio", "estultiloquio", "nefelibata", "néscio", "nescio", "pechenga", "sevandija",
            "somítico", "somitico", "tatibitate", "xexé", "xexe", "cheché", "cheche", "xexelento"];


        for (let i = 0; i < bannedWords.length; i++) {
            if (comment.toLowerCase().includes(bannedWords[i])) {
                validationStatus.innerHTML = "Comentário não aceite.";
                document.getElementById("comentario").value = "";
                commentValidated = false;
                document.getElementById("registo-submit").disabled = true;
                return;
            }
        }

        validationStatus.innerHTML = "Comentário aceite.";
        commentValidated = true;
        document.getElementById("registo-submit").disabled = false;
    }

    // Add event listener to "comentario" input field
    document.getElementById("comentario").addEventListener("input", function () {
        // Reset validation status
        const validationStatus = document.getElementById("comment-validation-status");
        validationStatus.innerHTML = "";

        // Disable submit button
        document.getElementById("registo-submit").disabled = true;

        // Reset commentValidated flag
        commentValidated = false;
    });

    document.getElementById("registo-form").addEventListener("submit", function (event) {
        if (!commentValidated) {
            event.preventDefault();
            alert("Por favor, valide o comentário antes de submeter o formulário.");
        }
    });
</script>


{% endblock %}

{% block opcoes_e_controlos %}


{% endblock %}
