{% extends "votacao/index.html" %}

{% block titulo %}
Create user
{% endblock %}

{% block banner %}
{% endblock %}

{% block navegacao %}
{% endblock %}


{% block conteudo %}


<h1> CREATE USER </h1>

<form action="{% url 'votacao:registo' %}" method="post">
    {% csrf_token %}
    <p>
        <label for="user">Nome:</label>
        <input type="text" id="user" name="user" required>
    </p>
    <p>
        <label for="mail">E-mail:</label>
        <input type="text" id="mail" name="mail" required>
    </p>
    <p>
        <label for="pass">Password:</label>
        <input type="password" id="pass" name="pass" required>
    </p>
    <p>
        <label for="curso">Curso:</label>
        <select id="curso" name="curso">
            <option value="antropologia">Antropologia</option>
            <option value="arquitetura">Arquitetura</option>
            <option value="ciencia-dados">Ciência de Dados</option>
            <option value="ciencia-politica">Ciência Política</option>
            <option value="eng-informatica">Engenharia Informática</option>
        </select>
    </p>
    <p>
        <label style="vertical-align: top" for="comentario">Comentário:</label>
        <textarea style="resize: none" id="comentario" name="comentario"></textarea>
        <button type="button" onclick="validateComment()">Validar comentário</button>
        <span id="comment-validation-status"></span>
    </p>
    <p>
        <button style="transform: translate(+50%)" type="submit" id="registo-submit" disabled> Registar</button>
    </p>
</form>

{% endblock %}

{% block opcoes_e_controlos %}


{% endblock %}
