<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        form {
            display: table
            margin: 0 auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        p {
            display: table-row
        }

        label {
            display: table-cell;
        }

        input {
            display: table-cell;
        }
    </style>
</head>
<body>
<form action="{% url 'votacao:registo' %}" method="post">
    {% csrf_token %}
    <p>
        <label for="username"> Username:</label>
        <input type="text" id="username" name="username">
    </p>
    <p>
        <label for="email"> E-mail:</label>
        <input type="text" id="email" name="email">
    </p>
    <p>
        <label for="password"> Password:</label>
        <input type="password" id="password" name="password">
    </p>

    <p>
        <label for="curso">Curso:</label>
        <select id="curso" name="curso">
            <option value="antropologia">Antropologia</option>
            <option value="arquitetura">Arquitetura</option>
            <option value="ciencia-dados">Ciência de Dados</option>
            <option value="ciencia-politica">Ciência Política</option>
            <option value="eng-informatica">Engenharia Informática</option>
        </select>
    </p>
    <p>
        <button type="submit">Registar</button>
    </p>
</form>
</body>
</html>