<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Detalhe questão {{questao.id}}</title>

</head>

<body>


<a href= "{% url 'votacao:index'%}">
  {% load static %}
    <img src="{% static 'votacao/images/home.jpg' %}"
             alt="image not found"
             title="Homepage" width ="100" height = "100">
</a>


<h1>{{ questao.questao_texto }}</h1>
{% if error_message %}
<p><strong>{{ error_message }}</strong></p>
{% endif %}



<form action="{% url 'votacao:voto' questao.id %}"
      method="post">
    {% csrf_token %}
    {% for opcao in questao.opcao_set.all %}
    <input type="radio" name="opcao"
           id="opcao{{ forloop.counter }}"
           value="{{ opcao.id }}" />
    <label for="opcao{{ forloop.counter }}">
        {{ opcao.opcao_texto }}
    </label>
    <br>
    {% endfor %}

    <br>

    <input type="submit" value="Voto" />


</form>


{% if user.is_superuser %}
<div>
    <a href="{% url 'votacao:criaropcao' questao.id%}"> Criar opção</a>
    <br>
    <a href="{% url 'votacao:eliminaropcao' questao.id%}"> Apagar opção</a>
</div>
{% endif %}
<br/>

<p>
  <input type=button value="Voltar" onClick="javascript:history.go(-1);">
</p>

</body>
</html>