<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'votacao/css/styles.css' %}">
    <title>{% block titulo %} Index {% endblock %} </title>
</head>

<header>

    <a href="https://www.iscte-iul.pt/">
        {% load static %}
        <img class="logo" src="{% static 'votacao/images/iscte.gif' %}" alt="image not found" title="https://www.iscte-iul.pt/">
    </a>

    {% block banner %}
    {% if request.user.is_authenticated %}
    <div>
        <h1>Bom dia {{request.user.username}}
            {% if not request.user.is_superuser %}
            já fez {{resultado}} votos. Os votos são limitados!
            {% endif %}
        </h1>
    </div>
    {% else %}
    <h1>
        O utilizador não está logado
    </h1>
    {% endif %}
    {% endblock %}
</header>

<body>
<nav>
    {% block navegacao %}

    <div>
        <a href="../votacao/index.html">Home</a>
        <!--    {% if not user.is_superuser %}-->
        <a href='personal/'> Página Pessoal</a>
        <!--    {% endif %}-->
        <!--</div>-->
        <!--    <div class="logout">-->
        <a class="logout" href="{% url 'votacao:logout' %}"> Logout</a>
    </div>

    {% endblock %}
</nav>


<aside>

</aside>


<section>
    {% block conteudo %}
    <h1> Questões já criadas </h1>
    {% if latest_question_list %}
    <ul>
        {% for questao in latest_question_list %}
        <li>
            <a href="{% url 'votacao:detalhe' questao.id %}">
                {{ questao.questao_texto }}
            </a>
        </li>
        {% endfor %}
    </ul>

    {% else %}
    <p>Nao há questoes disponiveis.</p>
    {% endif %}

    {% endblock %}
</section>


{% block opcoes_e_controlos %}
    {% if user.is_superuser %}

<div>
    <h3><a href="{% url 'votacao:criarquestao' %}">Criar Questão</a><br></h3>
    <h3><a href="{% url 'votacao:eliminarquestao' %}">Eliminar Questão</a></h3>

</div>
{% endif %}

{% endblock %}
</body>

<footer>

</footer>

</html>