<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <style>
        form {
            margin: 0 auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .erro{
            color:red;
        }
    </style>
</head>
<body>

    <a href="https://www.iscte-iul.pt/">
        <img src="https://www.iscte-iul.pt/assets/images/logo_iscte_detailed.svg"
             alt="image not found"
             title="https://www.iscte-iul.pt/">
    </a>

<h1> USER LOGIN </h1>

<form align="center" action="{% url 'votacao:autenticar' %}" method="post">

    {% csrf_token %}
    {% if error_message %}
    <p class="erro">{{ error_message }}</p>
    {% endif %}
    <div class="container">
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" id="username" name="username" required>
        <br/>
        <br/>
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" id="password" name="password" required>
        <br/>
        <br/>
        <button type="submit">Login</button>
    </div>
    <br/>
    <div class="container">
        <br/>
        <a href="{% url 'votacao:registo' %}">Registar</a>
    </div>
</form>

</body>