<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registar</title>

    <style>
        form {
            display: table;
            margin: 0 auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        p {
            display: table-row
        }

        label {
            display: table-cell;
        }

        input {
            display: table-cell;
        }

        button {
            alignment: center;
        }
    </style>
</head>
<body>
<a href="https://www.iscte-iul.pt/">
    <img src="https://www.iscte-iul.pt/assets/images/logo_iscte_detailed.svg"
         alt="image not found"
         title="https://www.iscte-iul.pt/">
</a>
<h1> CREATE USER </h1>

<form action="{% url 'votacao:registo' %}"
      method="post">

    {% csrf_token %}
    <p>
        <label for="user">Nome:</label>
        <input type= "text" id="user" name= "user">
    </p>
    <p>
        <label for="mail">email:</label>
        <input type= "text" id="mail" name= "mail">
    </p>
    <p>
        <label for="pass">Password:</label>
        <input type= "password" id="pass" name= "pass">
    </p>
    <p>
        <label for="curso">Curso:</label>
        <select id="curso" name="curso">
            <option value="antropologia">Antropologia</option>
            <option value="arquitetura">Arquitetura</option>
            <option value="ciencia-dados">Ciência de Dados</option>
            <option value="ciencia-politica">Ciência Política</option>
            <option value="eng-informatica">Engenharia Informática</option>
        </select>
    </p>
    <p>
        <button type="submit"> Registar </button>
    </p>
</form>
<br>
<input type=button value="Voltar" onClick="javascript:history.go(-1);">
</body>