/* STRUCTURE */

.logo{
    width: 60%;
    display: block;
    aspect-ratio: initial;
    align: center;
    margin-left: initial;
    /*margin-right: auto;*/
}


header {
    background-color: white;
    display: block;
}

/*header:hover{*/
/*    background-color:  CornflowerBlue;*/
/*}*/

body{
    background-color:lightblue;
    text-align:center;
    /*font-family: Arial, sans-serif;*/
}

nav{
    font-size: 25px;
    text-align: left;
    background: lightblue;
    margin-top: 10px;
}

/* Style the footer */

/* ELEMENTS */
h1{
    font-size: 40px;
}

label{
    display: table-cell;
}

p {
    display: table-row
}

ul{
    display: inline-block;
    text-align: center;
}

li{
    text-align: left;
    font-size: 25px;
}

.erro{
    color:red;
}

form{
    font-size:20px;
    display: table;
    margin: auto;
    alignment: center;
}

input,  button, select {
    border-radius:10px;
    aligment:center;
    width: 100%;
    padding: 12px 20px;
    margin: 8px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 15px;
    display: inline-block;
}

table{
    border: 1px solid;
    table-aligment:center;
    margin-right:auto;
    margin-left:auto;
}

th, td {
    border: 1px solid;
    padding: 10px;
    aligment: center;
}

a:link, a:visited {
    background-color: white;
    color: black;
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
}

a:hover, a:active {
    background-color:  CornflowerBlue;
}

.a_button{
    border-radius:10px;
    aligment:center;
    display: table-cell;
    width: auto;
    padding: 12px 20px;
    margin: 8px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 15px;
    font-color: black;

}

.container{
    margin-top: 20px;
    display: inline-block;
}

.container h1{
    padding: 20px 20px 20px 20px;
    float: right;
}

.container img{
    float: left;
}

.container img{
    float: left;
}

.container p{
    font-size: 25px;
}
