/* STRUCTURE */

html{
    background-color:lightblue;
    text-align:center;

}
.logo{
    width: 60%;
    display: block;
    aspect-ratio: initial;
    align: center;
    margin-left: initial;
    /*margin-right: auto;*/

}
main{
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    margin-up: 140px;
}

header {

    background-color: white;
    display: block;
    /*font-size: 10px;*/
    /*top:0%;*/
    /*padding : 10px;*/

}

/*header:hover{*/
/*    background-color:  CornflowerBlue;*/
/*}*/

head{}

body{
    /*background-image: url('../images/iscte.gif');*/
    /*background-size: cover;*/
    /*color: darkslategrey;*/
    /*font-family: Arial, sans-serif;*/
}
aside{
    width: 130px;
    z-index: 1;
    /*top: 20%;*/
    left: 1%;
    /*bottom: 30%;*/
    /*float:left;*/
    position:fixed;
    display: inline;
    /*align-items: center;*/
    /*justify-content: center;*/
    font-size: 25px;
}

nav{
    font-size: 25px;
    text-align: left;
    /*top: 22%;*/
    /*float:left;*/
    /*z-index: 1;*/
    /*position:fixed;*/
    /*display:flex;*/
    /*!*align-items: right;*!*/
    /*justify-content: right;*/
    /*left:88%;*/
    background: lightblue;
}

/* Style the footer */
footer {
    background-color: DarkSlateGray;
    text-align: center;
    color:white;
    width: 100%;
    /*position:absolute;*/
    bottom:0%;
    font-size: 20px;
}

/* ELEMENTS */


h1{

    font-size: 40px;
}

label{
    /*font-size: 120%;*/
    display: table-cell;
}

p {
    display: table-row
}

ol{
    display: inline-block;
    text-align: left;
}
ul{
    text-align: center;
}

li{
    text-align: center;
}


form{
    font-size:20px;
    display: table;
    margin: 0 auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-content: center;
}

input,  button, select {
    border-radius:10px;
    aligment:center;
    display: table-cell;
    width: 100%;
    padding: 12px 20px;
    margin: 8px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 15px;
}

table{
    border: 1px solid;
    table-aligment:center;
    margin-right:auto;
    margin-left:auto;
}

th, td {
    border: 1px solid;
    padding: 10px;
    aligment: center;
}

a:link, a:visited {
    background-color: white;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
}

a:hover, a:active {
    background-color:  CornflowerBlue;
}



.chooser{
    width : 50%
}

figure {
<!--float:right;-->
    background-color: ivory;
    color: darkslateblue;
    border-radius: 1px;
    text-align: center;
    padding: 1px;
    font-family: arial, sans-serif;
    box-shadow: 10px 10px 8px #888888;
}

